<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar</title>
    <link rel="stylesheet" href="estilo.css">

</head>

<body>
<div id="formulario"> 
    <h2>Cadastro</h2>
    
    <form (ngSubmit)="register()" method="post">

      <p>
        <label>Nome:</label>
        <input type="text" formControlName="name">
      </p>

      <p>
        <label>Email:</label>
        <input type="email" formControlName="email">
      </p>

      <p>
        <label>Senha:</label>
        <input type="password" formControlName="password">
      </p>

      <p>
        <button type="submit">Cadastrar</button>
      </p>

  </form>
</div>
</body>
</html>